body h1 {text-align: center;}
img { padding:1%; }
a {vertical-align:top;}
#t9 { width:15%; height:11%; }
#coffee { width:19%; height:18%; }
#breakout { width:30%; height:20%; }
#fsLinks { height:30% }
