#canvas {
    position:relative;
    /* margin-left: 1vw; */
    margin: 5px;
    width: 60vw;
    height: 90vh;  
}

.main { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.controls {
    margin:5px;
    width: 18vw;
    height: 90vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 90vh;
}

.objLabel {
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
     -1px 1px 0 black,
      1px 1px 0 black;
    font-size: 3vh;
}

p { margin: 5px; word-break: break-all}

#infoDiv{
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow:auto;
    height: 100%;
    max-height: 90vh;
}

.objDiv {
    text-align: center;
    width: 100%;
}

.objDiv:hover {
    background-Color: yellow;
}