html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* { margin: 0}

* { word-break: break-all}

/*
always something uexpected with CSS, this time with setting transparent background for fullscreen
https://stackoverflow.com/questions/16163089/background-element-goes-black-when-entering-fullscreen-with-html5*/
:fullscreen, ::backdrop {
  background-color: rgba(255,255,255,0);
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
